:root  {
    
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    
    --main-bg-color: #2E8B57;
    --second-bg-color: #DBF2E5;
    --primary-color: #FFFFFF;
    --secondary-color:#000000;
    --color-cart: #4E685A;
    --bg-danger: #E62020;
    
}

* {
    margin: 0; 
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.container {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    align-items: center;
    
    
}

header .menu {
    margin-left: 20px;
}
header .menu-icon {
    width: 40px;
}

header .title {
 font-size: 48px;
 color: #fff;
}

header .search-items {
    position: absolute;
    right: 120px;
    top: 40px;
    transform: translateY(-50%);
    border-radius: 20px;
    font-size: 18px;
    padding: 5px;
    border: none;
    width: 130px;
}

header .cart-icon {
    position: relative;
    margin-right: 20px;
    }

header .cart-image {
    
    display: block; 
    width: 40px;
}

header .cart-number {
    position: absolute;
    top: -2px;
    right: 4px;
    
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

img {
    width: 100px;
}